@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url("https://c0.wallpaperflare.com/preview/126/703/577/restaurant-tea-counter-menu.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5333333333);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  display: block;
}

header {
  position: sticky;
  top: 0;
  background-color: rgba(47, 54, 64, 0.7882352941);
  padding: 20px;
  z-index: 100;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
}
header nav ul li a {
  font-size: 1.5rem;
  font-family: Dm Sans;
  text-transform: capitalize;
  color: #FFFFFF;
  transition: 0.4s;
  position: relative;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00a8ff;
  transition: 0.4s;
}
header nav ul li a:hover {
  color: #00a8ff;
}
header nav ul li a:hover::after {
  width: 100%;
}
header nav ul a.active {
  color: #00a8ff;
}
header nav ul a.active::after {
  width: 100%;
}

.form-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  z-index: 90;
  padding: 20px 0 10px;
}
.form-con form {
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6901960784);
}
.form-con form .errors-valid {
  list-style: none;
  color: #e74c3c;
  text-align: center;
  font-size: 1.2rem;
}
.form-con form h1 {
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: Dm Sans;
}
.form-con form input {
  width: 100%;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #FFFFFF;
  transition: 0.4s;
  background-color: transparent;
  color: #fff;
}
.form-con form input::-moz-placeholder {
  color: #fff;
  text-transform: capitalize;
}
.form-con form input::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.form-con form input:focus {
  background-color: #FFFFFF;
  color: #000;
}
.form-con form input:focus::-moz-placeholder {
  color: #000;
}
.form-con form input:focus::placeholder {
  color: #000;
}
.form-con form label {
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: rgba(52, 73, 94, 0.662745098);
  color: #FFFFFF;
  text-transform: capitalize;
  padding: 10px 25px;
  font-family: Dm Sans;
}
.form-con form label input {
  display: none;
}
.form-con form label i {
  margin-right: 10px;
}
.form-con form select {
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: rgba(52, 73, 94, 0.662745098);
  color: #FFFFFF;
  text-transform: capitalize;
  padding: 10px 25px;
  font-family: Dm Sans;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-con form input[type=submit] {
  margin: 0 auto;
  background-color: #2980b9;
  text-transform: capitalize;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  opacity: 0.7;
  transition: 0.4s;
}
.form-con form input[type=submit]:hover {
  opacity: 1;
}

.table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8901960784);
  position: relative;
  z-index: 90;
  height: calc(100vh - 100px);
}
.table h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.table table {
  width: 100%;
  border-spacing: 8px;
  font-size: 14px;
  text-align: center;
}
.table table thead tr {
  font-size: 18px;
}
.table table thead tr th {
  padding: 15px;
  background-color: #eee;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3294117647);
  font-size: 1.6rem;
  border-radius: 5px;
}
.table table tbody tr {
  transition: 0.3s;
}
.table table tbody tr:hover {
  background-color: rgba(52, 73, 94, 0.5764705882);
}
.table table tbody tr:hover td {
  color: #fff;
}
.table table tbody tr button {
  padding: 15px 20px;
  color: #000;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 6px;
}
.table table tbody tr button a {
  color: #fff;
  text-decoration: none;
}
.table table tbody tr td {
  padding: 15px;
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3294117647);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}
.table table tbody tr td .btns a {
  display: block;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.4s;
  text-transform: capitalize;
  opacity: 0.7;
}
.table table tbody tr td .btns a:hover {
  opacity: 1;
  transform: scale(1.1);
}
.table table tbody tr td .btns .accept {
  background-color: #27ae60;
  margin-bottom: 10px;
}
.table table tbody tr td .btns .reject {
  background-color: #e74c3c;
}

.table .update,
.table .delete {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 6px;
  margin: 10px;
  display: block;
  opacity: 0.7;
  transition: 0.4s;
}
.table .update:hover,
.table .delete:hover {
  opacity: 1;
}

.table .update {
  background-color: #009432;
}

.table .delete {
  background-color: #EA2027;
}

.deletebtns {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
}

.deletebtns .show-deleted,
.deletebtns .delete-all {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 8px;
  position: relative;
  z-index: 80;
  opacity: 0.7;
  transition: 0.4s;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.deletebtns .show-deleted:hover,
.deletebtns .delete-all:hover {
  opacity: 1;
  transform: scale(1.1);
}

.deletebtns .show-deleted {
  background-color: #1B1464;
}

.deletebtns .delete-all {
  background-color: darkred;
}/*# sourceMappingURL=layout.css.map */