@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 90;
  background-color: #FFFFFF;
}
header .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #474747;
  padding: 10px 150px;
}
header .top-nav .info {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .top-nav .info div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F9F9F7;
  font-family: "DM Sans", sans-serif;
}
header .top-nav .right-side {
  display: flex;
  align-items: center;
  gap: 70px;
}
header .top-nav .right-side .social {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
header .top-nav .right-side .social a {
  color: #FFFFFF;
  border-radius: 50%;
  background-color: rgba(249, 249, 247, 0.1215686275);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.171px;
  height: 27.171px;
  transition: 0.5s;
}
header .top-nav .right-side .social a:hover {
  transform: scale(1.2);
}
header .top-nav .right-side .login-register {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .top-nav .right-side .login-register a {
  color: #DBDFD0;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  transition: 0.5s;
  opacity: 0.7;
}
header .top-nav .right-side .login-register a:hover {
  color: #FFFFFF;
  opacity: 1;
}
header .top-nav .right-side .login-register .user-menu {
  background-color: #2d3436;
  border-radius: 30px;
}
header .top-nav .right-side .login-register .user-menu:hover .username {
  color: #FFFFFF;
}
header .top-nav .right-side .login-register .user-menu .username {
  color: #808080;
  transition: 0.4s;
  border-radius: 30px;
}
header .top-nav .right-side .login-register .user-menu .menu {
  background-color: #2d3436;
}
header .top-nav .right-side .login-register .user-menu .menu .link:hover {
  background-color: #AD343E;
}
header .top-nav .right-side .login-register .notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}
header .top-nav .right-side .login-register .notifications:hover .notify-num {
  opacity: 1;
}
header .top-nav .right-side .login-register .notifications .notify-num {
  position: absolute;
  top: -10px;
  right: -13px;
  border-radius: 50%;
  width: 20px;
  padding: 5px;
  height: 20px;
  font-size: 10px;
  background-color: #AD343E;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  opacity: 0.7;
}
header .bottom-nav {
  padding: 5px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom-nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #474747;
  font-family: "Playfair Display", serif;
  font-size: 42.667px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: -0.4px;
}
header .bottom-nav .logo img {
  width: 56px;
  height: 55px;
}
header .bottom-nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
header .bottom-nav nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
}
header .bottom-nav nav ul li a {
  color: #2C2F24;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 34px;
  padding: 4px 16px;
  transition: 0.5s;
}
header .bottom-nav nav ul li a:hover {
  background: #DBDFD0;
}
header .bottom-nav nav ul li a.active {
  background: #DBDFD0;
}
header .bottom-nav nav .boket-btn {
  border-radius: 118px;
  border: 1.5px solid #2C2F24;
  position: relative;
  overflow: hidden;
}
header .bottom-nav nav .boket-btn a {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #182226;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  transition: 0.5s;
  position: relative;
}
header .bottom-nav nav .boket-btn a::before, header .bottom-nav nav .boket-btn a::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
  z-index: -1;
  background-color: #2C2F24;
  width: 0;
  transition: 0.5s;
}
header .bottom-nav nav .boket-btn a::before {
  left: 0;
}
header .bottom-nav nav .boket-btn a::after {
  right: 0;
}
header .bottom-nav nav .boket-btn a:hover {
  color: #FFFFFF;
}
header .bottom-nav nav .boket-btn a:hover::before, header .bottom-nav nav .boket-btn a:hover::after {
  width: 55%;
}
header .bottom-nav nav .boket-btn a.active {
  color: #FFFFFF;
}
header .bottom-nav nav .boket-btn a.active::before, header .bottom-nav nav .boket-btn a.active::after {
  width: 55%;
}
header .bottom-nav nav .list {
  width: 40px;
  display: none;
}
header .bottom-nav nav .list #checkbox {
  display: none;
}
header .bottom-nav nav .list .toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition-duration: 0.5s;
}
header .bottom-nav nav .list .bars {
  width: 100%;
  height: 2px;
  background-color: #182226;
  border-radius: 4px;
}
header .bottom-nav nav .list #bar2 {
  transition-duration: 0.8s;
}
header .bottom-nav nav .list #bar1, header .bottom-nav nav .list #bar3 {
  width: 70%;
}
header .bottom-nav nav .list #checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}
header .bottom-nav nav .list #checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}
header .bottom-nav nav .list #checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}
header .bottom-nav nav .list #checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}
header .bottom-nav nav .list #checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}
@media (max-width: 1250px) {
  header .top-nav,
  header .bottom-nav {
    padding: 10px 40px;
  }
  header .bottom-nav nav {
    gap: 30px;
  }
}
@media (max-width: 991px) {
  header .bottom-nav nav ul {
    display: none;
  }
  header .bottom-nav nav .list {
    display: block;
  }
}
@media (max-width: 768px) {
  header .top-nav {
    display: none;
  }
  header .bottom-nav {
    padding: 10px 20px;
  }
  header .bottom-nav nav .boket-btn {
    display: none;
  }
  header .bottom-nav .logo {
    font-size: 2rem;
  }
}

.custom-meida-nav {
  position: fixed;
  top: 75px;
  left: 0;
  height: 100vh;
  background: url("https://c4.wallpaperflare.com/wallpaper/741/599/723/pizza-food-vegetables-fruit-wallpaper-preview.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 99;
  padding: 20px;
  transition: 0.5s;
  transform: translateX(-100%);
}
.custom-meida-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #182226;
  opacity: 0.8;
  z-index: -1;
}
.custom-meida-nav .align .top-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.custom-meida-nav .align .top-list div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #F9F9F7;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
}
.custom-meida-nav .align .top-list .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.custom-meida-nav .align .top-list .right-side .social {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.custom-meida-nav .align .top-list .right-side .social a {
  color: #FFFFFF;
  border-radius: 50%;
  background-color: rgba(249, 249, 247, 0.1215686275);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.5s;
}
.custom-meida-nav .align .top-list .right-side .social a:hover {
  transform: scale(1.2);
}
.custom-meida-nav .align .top-list .right-side .login-register {
  display: flex;
  align-items: center;
  gap: 20px;
}
.custom-meida-nav .align .top-list .right-side .login-register a {
  color: #DBDFD0;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  transition: 0.5s;
  opacity: 0.7;
}
.custom-meida-nav .align .top-list .right-side .login-register a:hover {
  color: #FFFFFF;
  opacity: 1;
}
.custom-meida-nav .align .top-list .right-side .login-register .user-menu {
  background-color: #2d3436;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  justify-content: center;
}
.custom-meida-nav .align .top-list .right-side .login-register .user-menu:hover .username {
  color: #FFFFFF;
}
.custom-meida-nav .align .top-list .right-side .login-register .user-menu .username {
  color: #FFFFFF;
  transition: 0.4s;
  border-radius: 30px;
  font-size: 1.5rem;
  padding: 20px 10px;
  gap: 20px;
}
.custom-meida-nav .align .top-list .right-side .login-register .user-menu .over-menu {
  bottom: -245px;
  left: -1px;
}
.custom-meida-nav .align .top-list .right-side .login-register .user-menu .over-menu .menu {
  background-color: #2d3436;
  flex-direction: column;
}
.custom-meida-nav .align .top-list .right-side .login-register .user-menu .over-menu .menu .link {
  font-size: 1.3rem;
}
.custom-meida-nav .align .top-list .right-side .login-register .user-menu .over-menu .menu .link:hover {
  background-color: #AD343E;
}
.custom-meida-nav .align .bottom-list {
  margin: 50px 0;
}
.custom-meida-nav .align .bottom-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.custom-meida-nav .align .bottom-list ul li {
  border-radius: 34px;
  padding: 4px 16px;
  transition: 0.5s;
}
.custom-meida-nav .align .bottom-list ul li:hover {
  background: #DBDFD0;
}
.custom-meida-nav .align .bottom-list ul li a {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 25px;
  border-radius: 30px;
}
.custom-meida-nav .align .bottom-list ul li a.active {
  background: #DBDFD0;
}
.custom-meida-nav .align .boket-btn {
  border-radius: 118px;
  border: 1.5px solid #FFFFFF;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
.custom-meida-nav .align .boket-btn::before, .custom-meida-nav .align .boket-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
  z-index: -1;
  background-color: #2C2F24;
  width: 0;
  transition: 0.5s;
}
.custom-meida-nav .align .boket-btn::before {
  left: 0;
}
.custom-meida-nav .align .boket-btn::after {
  right: 0;
}
.custom-meida-nav .align .boket-btn:hover::before, .custom-meida-nav .align .boket-btn:hover::after {
  width: 55%;
}
.custom-meida-nav .align .boket-btn:hover a {
  color: #FFFFFF;
}
.custom-meida-nav .align .boket-btn a {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  transition: 0.5s;
  text-transform: capitalize;
}
.custom-meida-nav .align .boket-btn a.active {
  color: #FFFFFF;
}
.custom-meida-nav .align .boket-btn a.active::before, .custom-meida-nav .align .boket-btn a.active::after {
  width: 55%;
}

@media (min-width: 769px) {
  .custom-meida-nav {
    top: 124px;
  }
}
.custom-meida-nav.active-list {
  transform: translateX(0);
}

footer {
  background-color: #182226;
}
footer .content {
  padding: 100px 150px 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}
footer .content .right-side {
  width: 300px;
}
footer .content .right-side .logo {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 32.67px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: -0.4px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .content .right-side p {
  color: #ADB29E;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
}
footer .content .right-side .social {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .content .right-side .social a {
  width: 30px;
  height: 30px;
  color: #FFFFFF;
  background-color: #AD343E;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.5s;
}
footer .content .right-side .social a:hover {
  opacity: 1;
}
footer .content .center-side {
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
footer .content .center-side .links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .content .center-side .links h4 {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
footer .content .center-side .links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
footer .content .center-side .links ul li a {
  display: block;
  color: #DBDFD0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: 0.4s;
}
footer .content .center-side .links ul li a:hover {
  color: #FFFFFF;
  transform: scale(1.2);
}
footer .content .left-side {
  width: 400px;
}
footer .content .left-side h4 {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 40px;
}
footer .content .left-side .images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
footer .content .left-side .images div {
  width: calc(50% - 7.5px);
  border-radius: 12px;
  overflow: hidden;
}
footer .content .left-side .images div img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
@media (max-width: 991px) {
  footer .content {
    flex-direction: column;
    gap: 80px;
  }
  footer .content .right-side,
  footer .content .center-side,
  footer .content .left-side {
    width: 100%;
  }
  footer .content .center-side .links {
    width: calc(50% - 25px);
  }
  footer .content .center-side .links ul {
    flex-flow: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  footer .content {
    padding: 100px 30px;
  }
  footer .content .center-side {
    padding: 0 20px;
  }
  footer .content .center-side .links ul {
    flex-direction: column;
  }
}

#upbtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  z-index: 90;
  transition: 0.4s;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: none;
}
#upbtn div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#upbtn:hover {
  background-color: #182226;
}

.loader-con {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
.loader-con .loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
  transform: scale(2);
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}
.loader-con .loader::after, .loader-con .loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader-con .loader::before {
  animation: before8 2s infinite;
}
.loader-con .loader::after {
  animation: after6 2s infinite;
}

.error {
  padding: 100px 10px;
}
.error img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.error h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #AD343E;
  font-size: 4rem;
  margin-top: 50px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */